<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <h2>Your Representatives are:</h2>
      <div class="congressmen">
        <% @reps.each do |rep| %>
          <div class="congressman">
            <%= image_tag rep.photo_url ? rep.photo_url : "http://lorempixel.com/200/200/cats" %>
            <div class="identifier">
              <%= "#{rep.first_name} #{rep.last_name} (#{rep.party}-#{rep.state})" %>
            </div>
          </div>
        <% end %>
      </div>
      <h2>Your Senators are:</h2>
      <div class="congressmen">
        <% @senators.each do |senator| %>
          <div class="congressman">
            <%= image_tag senator.photo_url ? senator.photo_url : "http://lorempixel.com/200/200/cats" %>
            <div class="identifier">
              <%= "#{senator.first_name} #{senator.last_name} (#{senator.party}-#{senator.state})" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4">
      <%= form_tag "/reps/find", method: :get do %>
        <%= label_tag 'search', "Find a congressman:" do %>
          <%= text_field_tag(
              :search,
              params[:search],
              placeholder: "Search",
              class: "form-control"
          ) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
