<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-1">
      <h2>Your <%= "Representative".pluralize(@reps.count) %> in the House:</h2>
      <div class="congressmen">
        <% @reps.each do |rep| %>
          <a class="congressman" href="<%= legislator_path(rep.id) %>">
            <%= render partial: 'shared/legislator_photo_block', locals: { legislator: rep } %>
          </a>
        <% end %>
      </div>
      <h2>Your Senators are:</h2>
      <div class="congressmen">
        <% @senators.each do |senator| %>
          <a class="congressman" href="<%= legislator_path(senator.id) %>">
            <%= render partial: 'shared/legislator_photo_block', locals: { legislator: senator } %>
          </a>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4">
      <%= form_for @user, class: 'form' do |f| %>
      <%= f.label :email, "Get email updates about your legislators:" %>
        <div class="input-group">
          <%= f.email_field(
              :email,
              placeholder: "email",
              class: "form-control"
          ) %>
          <span class="input-group-btn">
            <%= f.submit "Submit", class: "btn btn-default" %>
          </span>
        </div>
      <% end %>
    </div>
  </div>
</div>
