<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <div class="congressman">
        <%= image_tag @legislator.photo_url %>
        <div class="identifier">
          <%= "#{@legislator.first_name} #{@legislator.last_name} (#{@legislator.party}-#{@legislator.state})" %>
        </div>
      </div>
      <div>
        <p>Term start: <%= @legislator.term_start %>
        <p>Term end: <%= @legislator.term_end %>
      </div>
    </div>
    <div class="col-lg-4">
      <p>
        <% if @legislator.phone %>Phone: <%= @legislator.phone %><br><% end %>
        <% if @legislator.fax %>Fax: <%= @legislator.fax %><br><% end %>
        <% if @legislator.email %>Email: <%= @legislator.email %><% end %>
      </p>
      <p>
        <% if @legislator.website %><%= link_to "Website", @legislator.website %><br><% end %>
        <% if @legislator.contact_form_url %><%= link_to "Contact form", @legislator.contact_form_url %><% end %>
      </p>
    </div>
    <div class="social-media-links">
      <% if @legislator.facebook_url %>
        <%= link_to @legislator.facebook_url, class: "social-media-link" do %>
          <%= fa_icon "facebook-square 3x" %>
        <% end %>
      <% end %>
      <% if @legislator.twitter_url %>
        <%= link_to @legislator.twitter_url, class: "social-media-link" do %>
          <%= fa_icon "twitter-square 3x" %>
        <% end %>
      <% end %>
      <% if @legislator.youtube_url %>
        <%= link_to @legislator.youtube_url, class: "social-media-link" do %>
          <%= fa_icon "youtube-square 3x" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
