<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <%= render partial: 'shared/legislator_photo_block', locals: { legislator: @legislator } %>
      <div>
        <p>Term start: <%= @legislator.term_start %>
        <p>Term end: <%= @legislator.term_end %>
      </div>
    </div>
    <div class="col-lg-3">
      <p>
        <% if @legislator.phone %>Phone: <%= @legislator.phone %><br><% end %>
        <% if @legislator.fax %>Fax: <%= @legislator.fax %><br><% end %>
        <% if @legislator.email %>Email: <%= @legislator.email %><% end %>
      </p>
      <p>
        <% if @legislator.website %><%= link_to "Website", @legislator.website, target: '_blank' %><br><% end %>
        <% if @legislator.contact_form_url %><%= link_to "Contact form", @legislator.contact_form_url, target: '_blank' %><% end %>
      </p>
      <div class="social-media-links">
        <% if @legislator.facebook_url %>
          <%= link_to @legislator.facebook_url, class: "social-media-link", target: '_blank' do %>
            <%= fa_icon "facebook-square 3x" %>
          <% end %>
        <% end %>
        <% if @legislator.twitter_url %>
          <%= link_to @legislator.twitter_url, class: "social-media-link", target: '_blank' do %>
            <%= fa_icon "twitter-square 3x" %>
          <% end %>
        <% end %>
        <% if @legislator.youtube_url %>
          <%= link_to @legislator.youtube_url, class: "social-media-link", target: '_blank' do %>
            <%= fa_icon "youtube-square 3x" %>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6">
      <% if @sponsored_bills.count > 0 %>
        <h3>Bills sponsored <small>(since <%= @first_bill_date %>)</small></h3>
        <ul class="legislator-bills-list">
          <% @sponsored_bills.each do |bill| %>
            <li><%= link_to bill[:id].upcase, bill_path(bill[:id]) %> <%= bill[:official_title] %></li>
          <% end %>
        </ul>
      <% end %>
      <% if @bills.count > 0 %>
        <h3>Bills voted on <small>(since <%= @first_bill_date %>)</small></h3>
        <ul class="legislator-bills-list">
          <% @bills.each do |bill| %>
            <li><%= colored_yea_nay(bill[:vote]) %> <%= link_to bill[:id].upcase, bill_path(bill[:id]) %> <%= bill[:title] %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
